{
    "weights_file":"pixels.mlp",
    "input":[
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"x",
            "path":"input\\hiragana\\x.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"k",
            "path":"input\\hiragana\\k.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"s",
            "path":"input\\hiragana\\s.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"t",
            "path":"input\\hiragana\\t.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"n",
            "path":"input\\hiragana\\n.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"h",
            "path":"input\\hiragana\\h.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"m",
            "path":"input\\hiragana\\m.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"r",
            "path":"input\\hiragana\\r.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"y",
            "path":"input\\hiragana\\y.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"hiragana",
            "char_family":"wn",
            "path":"input\\hiragana\\wn.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"x",
            "path":"input\\katakana\\x.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"k",
            "path":"input\\katakana\\k.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"s",
            "path":"input\\katakana\\s.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"t",
            "path":"input\\katakana\\t.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"n",
            "path":"input\\katakana\\n.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"h",
            "path":"input\\katakana\\h.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"m",
            "path":"input\\katakana\\m.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"r",
            "path":"input\\katakana\\r.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"y",
            "path":"input\\katakana\\y.jpg"
        },
        {
            "save_extracted_characters":"true",
            "alphabet":"katakana",
            "char_family":"wn",
            "path":"input\\katakana\\wn.jpg"
        }
    ]
}